
.core section.each-project p span {
  background: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
  border: 1px solid #fff;
  padding: 0 0 0 10px;
}

.core h2 a,
.core section.each-project h3 a {
  background: rgba(255, 255, 255, 0.8);
  // text-shadow:0 -1px 0 #999;
  border: 1px solid #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 2px;
}

.core section.each-project h3 a {
  margin: 0 -20px 0 0;
}

.core h2 a:hover,
.core section.each-project h3 a:hover {
  border: 1px solid #d58000;
}

.core section.each-project h3 span {
  font-size: 10px;
  // font-weight: 400;
  color: #fff;
}

.core section.each-project h3.latest-project,
.core section.each-project h3.location {
  font-size: 1.3em;
  margin-top: 10px;
  text-align: right;
}

.core a {
  text-decoration: none;
  color: #000;
}

.core a:hover {
  text-decoration: underline;
  // color:#D58000;
}

.core h2.category-link span {
  font-size: 10px;
  text-transform: uppercase;
  display: none;
  color: #d58000;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #d58000;
  position: relative;
  top: 16px;
  left: -6px;
  -webkit-transition: all 1s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 1s;
  padding: 2px;
}

h2.category-link {
  margin: 5px 0 0;
}

.home h1 {
  width: 300px;
  height: 300px;
  background: url(/images/tha_logo01.png) no-repeat center center;
  background-size: 120%;
  text-indent: -9999px;
  text-align: left;
  border: 0 none;
  margin: 0;
  padding: 0;
}

#company-info h1 {
  background: #d58000;
  font-size: 2.3em;
  letter-spacing: 0;
}

h2#page-title {
  display: none;
}
// h2#page-title {
// color:#fff;
// font-family:'open sans';
// text-transform:uppercase;
// font-size:2.5em;
// border:1px solid #FFF;
// font-weight:400;
// letter-spacing:1em;
// text-align:right;
// margin:0 0 10px;
// padding:5px 0;
// }

h2.page-title {
  font-size: 2em;
  // font-family:Helvetica,Arial,sans-serif;
  font-family: "UniversNextPro-Light", Helvetica, Arial;
  // text-shadow: 0 -1px 0 #999;
  margin: 0 0 5px;
}

h2.page-title span {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 1px solid #fff;
  padding: 0 3px;
}

.single-post h2.page-title span {
  background: rgba(255, 255, 255, 0.8);
  color: #111;
}

.archive h2.page-title {
  text-align: right;
  display: none;
}

.services .core {
  text-align: right;
  background: rgba(255, 255, 255, 0.2);
}

.services .core h2 {
  font-size: 1.8em;
  color: #fff;
  margin: 10px 0 5px;
}

.services .core h2 span {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 2px;
}

.services .mainContent p {
  line-height: 1.5;
}

.services .mainContent p span {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  margin-left: 9px;
  line-height: 22px;
}

.times {
  font-family: "times new roman", times, georgia, serf;
}

.services .times em {
  border-bottom: 1px solid #fff;
  text-align: right;
  font-size: 1.4em;
  color: #fff;
}

.profile .core h2 {
  color: #fff;
  // background:rgba(0,0,0,.8);
  margin: 20px 0 10px;
  padding: 0 0 0 0.5em;
}

.profile .core h3 {
  font-size: 1.6em;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  padding: 0 0 0 3px;
  @media only screen and (max-width: 767px) {
    margin-left: 0.5em;
  }
}

.profile h2:first-child {
  margin-top: 0.5em;
}

.profile .core p {
  text-align: right;
  margin-top: 7px;
}

.profile .core a {
  // font-weight: 700;
  color: #111;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 1px 5px;
}


.profile hr {
  margin: 2em 0;
}

.qa h2 {
  font-size: 1.3em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
  margin: 0 0 5px;
}

.projects .mainContent h3 {
  position: relative;
}

h4 {
  font-size: 1em;
  margin: 20px 0 2px;
}

.mainContent p {
  font-size: 1.5em;
  margin: 0 0 15px;
}
.single-post .mainContent p {
  font-size: 1em;
}

.aboutus {
  color: white;
}

.aboutus .mainContent p {
  font-size: 1.6em;
  line-height: 1.6;
  margin-top: 1em;
}

.aboutus .mainContent p span {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  padding: 0 10px;
}

.contact .mainContent p {
  margin: 5px 0 1px;
}

.mainContent #company-info p {
  line-height: 1.5em;
  margin: 5px 0 10px;
}

p.date {
  margin: 0 0 5px;
}

p.readMore {
  // font-weight: 700;
  font-style: italic;
}

.single .mainContent .post,
.blog .mainContent .post,
.archive .mainContent .post {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  margin: 5px 0 80px;
  padding: 10px;
  p {
    font-size: 1.7em;
  }
}

.blog h2,
.archive h2 {
  margin-bottom: 2px;
  margin-top: 20px;
}

.post {
  border-bottom: 1px solid #fff;
}

#company-info h2 {
  margin-top: 0.5em;
  font-size: 1.5em;
  // font-weight: 700;
  // background:#111;
  // color:#fff;
}

#company-info h3 {
  // font-weight: 600;
  // font-family:'Open Sans';
  font-family: "UniversNextPro-Light", Helvetica, Arial;
  font-size: 1.4em;
}

#company-info h4 {
  font-size: 1.4em;
  font-weight: normal;
  // font-family:'Open Sans';
  font-family: "UniversNextPro-Light", Helvetica, Arial;
  margin: 0;
}

#company-info a {
  // font-weight: 700;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  // color:#D58000;
  // box-shadow:inset 0 0 5px #D58000;
  margin-top: 15px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 5px;
}

#company-info a:hover {
  // background:linear-gradient(top,#D58000,#eaa41c);
  // color:#fff;
  text-decoration: underline;
}


.single label {
  // font-family:'Open Sans';
  font-family: "UniversNextPro-Light", Helvetica, Arial;
  font-size: 1.2em;
  color: #666;
}

.mainContent p.contact-form-input {
  margin: 0;
  padding: 0;
}

.mainContent p.contact-form-label {
  margin: 5px 0 0;
  padding: 0;
}

footer {
  color: #fff;
  clear: both;
  padding: 10px 0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .home footer {
    position: fixed;
    bottom: 0;
    width: 600px;
  }
}

.admin {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.7);
  width: 110px;
  padding: 5px;
}

.admin p {
  margin: 0 0 5px;
  padding: 0;
}

#response h2 {
  font-size: 1.3em;
  // font-weight: 700;
  color: #fff;
  float: none;
  position: relative;
  top: 350px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: linear-gradient(top, #d58000, #eaa41c);
  -webkit-box-shadow: 0 0 2px #061b20;
  -moz-box-shadow: 0 0 5px #061b20;
  box-shadow: 0 0 2px #061b20;
  margin: -30px 10px 0 150px;
  padding: 4px 4px 4px 23px;
}

.aboutus h3 span {
  padding: 0 2px;
}

.aboutus h3 span,
.aboutus ol li span,
.aboutus em {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
}

.aboutus ol {
  margin-bottom: 70px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

.aboutus ol li {
  line-height: 1.8;
  margin-bottom: 5px;
}

.aboutus ol li h4 {
  font-size: 2em;
}

.aboutus ol li:first-child h4 {
  margin-top: 5px;
}

.aboutus ol li span {
  padding: 0 5px;
}

.aboutus .mainContent #mies span {
  font-weight: normal;
  font-style: italic;
  padding: 0;
}

.aboutus #mies {
  margin-bottom: 50px;
  text-align: right;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 10px;
}

h2.coming-soon {
  font-size: 5em;
  color: #fff;
}

.wpcf7 form .wpcf7-response-output {
  background: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  position: relative;
  top: -62px;
  left: 140px;
  margin: 1rem 0 0;
}

::-moz-selection,
::selection {
  background: #d58000;
  color: #fff;
  text-shadow: none;
}

a,
a:visited,
.core .navigation a
// .core .meta a,
// .core a.page-numbers:hover,
// #commentform p,
// #commentform a {
{
  color: #fff;
}
.blog .mainContent a:visited,
.archive a:visited,
.single-post .mainContent a:visited {
  color: #333;
}

figure,
.blogPost p#date,
.aboutus .mainContent ol li p {
  margin: 0;
}

h2,
.aboutus h3 {
  font-size: 2em;
}

.widgets {
  h3 {
    color: #666;
    font-size: 1.6em;
    margin: 10px 0 10px 5px;
    padding: 0;
    @media only screen and (max-width: 768px) {
      font-size: 2em;
    }
  }
  li {
    margin-bottom: 7px;
    line-height: 1;
  }
  ul li a {
    font-size: 1.4em;
      display: block;
      margin-bottom: 1em;
    @media only screen and (max-width: 768px) {
      font-size: 1.6em;
    }
  }
 .blogPost h2 {
  text-shadow: 0 -1px 1px #999;
  }
}

.blogPost h3 {
  color: #fff;
  font-size: 1.3em;
  text-shadow: 0 -1px 1px #999;
  margin: 0;
  padding: 0;
}


.single input[type="submit"] {
  font-size: 1.4em;
  font-weight: normal;
}

.clearfix:after,
.clear {
  clear: both;
}

.error404 h2,
.error404 h3,
.page-id-23 .wpcf7 {
  color: #fff;
}

@media only screen and (min-width: 980px) {
  #company-info {
    float: none;
    margin-left: 300px;
  }
}

h2.project-title {
  margin-bottom: 5px;
}
h3.location {
  margin-bottom: 10px;
}

h1.company-name {
  margin-bottom: 0;
  // margin-top: 0;
}

@media only screen and (max-width: 797px) {
  h1.company-name{
    margin-top: 1em;
    text-align: center;
  }
  .blog h1.company-name,
  .archive h1.company-name,
  .single-post h1.company-name {
    margin-bottom: 1em;
  }
}

// @media only screen and (max-width: 767px) {
//   .single-post #recent-posts-3 h3 {
//     text-align: center;
//   }
// }

.wpcf7 label {
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  .wpcf7 {
    form {
      margin-top: 2em;
    }
    label {
    color: #666;
   }
  }
}
@media only screen and (max-width: 767px),
screen and (max-width: 940px) and (orientation: landscape) {
  body {
    background-color: #fff;
    color: #666;
  }
  .home {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  h1.company-name a {
    color: #666;
  }
  .profile .core {
    h2, a {
    color: #666;
   }
   a:hover {
    text-decoration: underline;
   }
  }
  .projects .mainContent .core .each-project {
    border: 1px solid #666;
  }
  .aboutus {
    color: #666;
    #about-us,
    .not-vs-are,
    ol, #mies {
      border: 1px solid #666;
    } 
    .mainContent p {
      font-size: 1.87em;
    }
  } //aboutus
  // .blog .widgets {
  //   background-color: #666;
  //   h3, a {
  //     color: #fff;
  //   }
  // }
  .services .core h2 {
    color: #666;
  }
  .meta, .core .meta a{
    color: #666;
    &:visited {
      color: #333;
    }
  }
}//@media
