@font-face {
  font-family: 'UniversNextPro-Light';
  src: url("/fonts/UniversNextPro-Light.woff") format("woff"), url("/fonts/UniversNextPro-Light.ttf") format("truetype"), url("/fonts/UniversNextPro-Light.oft") format("opentype"); }

caudio, canvas, video {
  display: inline;
  zoom: 1; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%; }

body {
  font-size: 62.5%;
  line-height: 1.231;
  color: #333;
  font-family: 'UniversNextPro-Light', Helvetica, Arial;
  background: #333 no-repeat fixed center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0; }

body.home {
  height: 100%; }

body, button, input, select, textarea {
  font-family: 'UniversNextPro-Light', Helvetica, Arial;
  color: #222; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700; }

pre, code, kbd, samp {
  font-family: monospace,monospace;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

dd {
  margin: 0 0 0 40px; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

form {
  float: left;
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  margin-left: 1px;
  padding: 0; }

legend {
  border: 0;
  margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  vertical-align: middle;
  margin: 0; }

button, input {
  line-height: normal;
  overflow: visible; }

table button, table input {
  overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  width: 100%;
  height: 150px;
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 5px #999;
  -moz-box-shadow: inset 0 0 5px #999;
  box-shadow: inset 0 0 5px #999;
  padding: 5px 10px; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

aside {
  float: left; }

.container {
  text-align: left;
  max-width: 960px;
  min-width: 300px;
  position: relative;
  margin: 0 auto;
  padding: 10px; }

.mainContent {
  min-height: 340px;
  margin: 205px 0 0 310px;
  padding: 0; }

#projectsContent, .blogContent, .singleContent, #archiveContent {
  min-height: 530px;
  margin: 90px 0 0 310px;
  padding: 0; }

.contact .mainContent {
  margin: 230px 0 0 310px; }

.core {
  position: relative;
  overflow: hidden;
  min-height: 218px;
  border: 1px solid #fff;
  margin: 0;
  padding: 20px 15px; }

#projectsContent .core, .blogContent .core, .singleContent .core, #archiveContent .core {
  min-height: 430px; }

.blogContent .core img, .singleContent .core img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 5px #fff;
  -moz-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
  margin: 10px 0 15px; }

.core section.each-project {
  overflow: hidden;
  border: 1px solid #fff;
  margin: 0 0 20px;
  padding: 5px; }

.core section img {
  float: right;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  opacity: .8;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  margin: 0 0 0 10px; }

.core section img:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-box-shadow: 0 0 5px #fff;
  -moz-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff; }

.core section.each-project p span {
  background: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
  border: 1px solid #fff;
  padding: 0 0 0 10px; }

.core h2 a, .core section.each-project h3 a {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 0 2px; }

.core section.each-project h3 a {
  margin: 0 -20px 0 0; }

.core h2 a:hover, .core section.each-project h3 a:hover {
  border: 1px solid #D58000; }

.core section.each-project h3 span {
  font-size: 10px;
  font-weight: 400;
  color: #fff; }

.core section.each-project h2 {
  margin-bottom: 2px; }

.core section.each-project h3.latest-project, .core section.each-project h3.location {
  font-size: 1.3em;
  margin-top: 10px;
  text-align: right; }

.core a {
  text-decoration: none;
  color: #000; }

.core a:hover {
  text-decoration: underline;
  color: #D58000; }

.core h2.category-link span {
  font-size: 10px;
  text-transform: uppercase;
  display: none;
  color: #D58000;
  margin-left: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #D58000;
  position: relative;
  top: 16px;
  left: -6px;
  -webkit-transition: all 1s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 1s;
  padding: 2px; }

.meta {
  overflow: hidden;
  margin-top: 3px;
  color: #fff; }

.meta li {
  float: left;
  border-left: solid 1px #000;
  padding: 0 5px; }

.meta li:first-child {
  border-left: none 0;
  padding-left: 0; }

.post-categories li, .meta li {
  display: inline;
  margin: 0 2px; }

.main-menu {
  position: relative;
  width: 305px;
  display: block; }

.home .main-menu {
  left: 300px; }

.main-menu a, #categories-menu a {
  color: #fff;
  font-size: 1.4em;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #FFF;
  display: block;
  padding: 10px; }

.main-menu a {
  position: absolute; }

#categories-menu {
  display: none; }

.main-menu .current-menu-item a, #categories-menu .current-menu-item a, .single .main-menu #menu-item-767 a, .archive .main-menu #menu-item-767 a, .parent-pageid-13 #menu-item-32 a {
  color: #D58000;
  background: #FFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  opacity: .9; }

.main-menu a:hover, #categories-menu a:hover {
  color: #D58000;
  background: #FFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: .9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Enabled=1,Style=0,Opacity=50);
  -webkit-transition: background .7s;
  -moz-transition: background .7s;
  -o-transition: background .7s;
  transition: background .7s; }

#categories-menu .current-menu-item a, #categories-menu a:hover {
  left: 10px;
  opacity: .8; }

.main-menu li:first-child a {
  width: 178px;
  height: 79px; }

.main-menu li:nth-child(2) a {
  left: 0;
  top: 100px;
  height: 79px;
  width: 178px;
  border-top-width: 0;
  border-top-style: none; }

.main-menu li:nth-child(3) a {
  left: 200px;
  top: 100px;
  height: 79px;
  width: 79px;
  border-left-width: 0;
  border-left-style: none;
  border-top-width: 0;
  border-top-style: none; }

.main-menu li:nth-child(4) a {
  left: 0;
  top: 200px;
  height: 79px;
  width: 128px;
  border-top-width: 0;
  border-top-style: none; }

.main-menu li:nth-child(5) a {
  left: 150px;
  top: 200px;
  height: 79px;
  width: 129px;
  border-left-width: 0;
  border-left-style: none;
  border-top-width: 0;
  border-top-style: none; }

.main-menu li:last-child a {
  top: 0;
  right: 5px;
  width: 79px;
  height: 79px; }

h1.company-name, h2#company-name {
  position: absolute;
  top: 320px;
  left: 10px;
  font-size: 1.2em;
  color: #fff;
  background-color: #fff;
  margin: 0; }

h1.company-name a {
  background: url(/images/tha_banner01.png) no-repeat center center;
  background-size: 80%;
  display: block;
  width: 300px;
  height: 140px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  opacity: .8;
  -webkit-box-shadow: inset 0 0 5px #999;
  -moz-box-shadow: inset 0 0 5px #999;
  box-shadow: inset 0 0 5px #999; }

.home h1.company-name a {
  background: url(/images/company02.png) no-repeat;
  width: 300px;
  height: 50px; }

h1.company-name a:hover, h2#company-name a:hover {
  background: url(/images/tha_banner01_hover.png) no-repeat center center;
  background-size: 80%;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  opacity: .9;
  -webkit-box-shadow: inset 0 0 5px #D58000;
  -moz-box-shadow: inset 0 0 5px #D58000;
  box-shadow: inset 0 0 5px #D58000; }

.home h2 {
  width: 300px;
  height: 300px;
  background: url(/images/tha_logo01.png) no-repeat center center;
  background-size: 120%;
  text-indent: -9999px;
  text-align: left;
  border: 0 none;
  margin: 0;
  padding: 0; }

#company-info h1 {
  background: #D58000;
  font-size: 2.3em;
  letter-spacing: 0; }

h2#page-title {
  display: none; }

h2.page-title {
  font-size: 2em;
  font-family: 'UniversNextPro-Light', Helvetica, Arial;
  text-shadow: 0 -1px 0 #999;
  margin: 0 0 5px; }

h2.page-title span {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 1px solid #fff;
  padding: 0 3px; }

.single h2.page-title span {
  background: rgba(255, 255, 255, 0.8);
  color: #111; }

.archive h2.page-title {
  text-align: right; }

h2.category-link, h2.project-title {
  margin: 5px 0 0; }

.services .core {
  text-align: right;
  background: rgba(255, 255, 255, 0.2); }

.services .core h2 {
  font-size: 1.4em;
  color: #fff;
  margin: 10px 0 5px; }

.services .core h2 span {
  background: rgba(0, 0, 0, 0.8);
  padding: 0 2px; }

.services .mainContent p {
  line-height: 1.5; }

.services .mainContent p span {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  margin-left: 9px;
  line-height: 22px; }

.times {
  font-family: 'times new roman',times,georgia,serf; }

.services .times em {
  border-bottom: 1px solid #fff;
  text-align: right;
  font-size: 1.4em;
  color: #fff; }

.profile .core h2 {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 10px;
  padding: 0 0 0 .5em; }

.profile .core h3 {
  font-size: 1.5em;
  margin-left: .5em;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  padding: 0 0 0 3px; }

.profile h2:first-child {
  margin-top: .5em; }

.profile .core p {
  text-align: right;
  margin-top: 7px; }

.profile .core a {
  font-weight: 700;
  color: #111;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  padding: 1px 5px; }

.profile .core a:hover {
  color: #D58000;
  -webkit-box-shadow: 0 0 1px 1px #D58000;
  box-shadow: 0 0 1px 1px #D58000; }

.profile hr {
  margin: 2em 0; }

.qa h2 {
  font-size: 1.3em;
  margin: 0; }

h3 {
  font-size: 1.2em;
  margin: 0 0 5px; }

#projectsContent h3 {
  position: relative; }

h4 {
  font-size: 1em;
  margin: 20px 0 2px; }

.mainContent p, #projectsContent p {
  font-size: 1.4em;
  margin: 0 0 15px; }

.aboutus {
  color: white; }

.aboutus .mainContent p {
  font-size: 1.4em;
  line-height: 1.8;
  margin-top: 1em; }

.aboutus .mainContent p span {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  padding: 0 10px; }

.contact .mainContent p {
  margin: 5px 0 1px; }

.mainContent #company-info p {
  line-height: 1.5em;
  margin: 5px 0 10px; }

p.date {
  margin: 0 0 5px; }

p.readMore {
  font-weight: 700;
  font-style: italic; }

.single .post, .blog .post, .archive .post {
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
  border-radius: 3px;
  margin: 5px 0 30px;
  padding: 10px; }

.blog h2, .archive h2 {
  margin-bottom: 2px;
  margin-top: 10px; }

.post {
  border-bottom: 1px solid #fff; }

#company-info {
  float: left;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #999;
  -moz-box-shadow: inset 0 0 5px #999;
  box-shadow: inset 0 0 5px #999;
  font-size: 1.1em;
  line-height: 1.5;
  width: 280px;
  margin: 20px 10px 0 0;
  padding: 15px 10px; }

#company-info h2 {
  margin-top: .5em;
  font-size: 1.3em;
  font-weight: 700;
  background: #111;
  color: #fff; }

#company-info h3 {
  font-weight: 600;
  font-family: 'UniversNextPro-Light', Helvetica, Arial; }

#company-info h4 {
  font-size: 1.3em;
  font-family: 'UniversNextPro-Light', Helvetica, Arial;
  margin: 0; }

#company-info a {
  font-weight: 700;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  color: #D58000;
  box-shadow: inset 0 0 5px #D58000;
  margin-top: 15px;
  text-align: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 5px; }

#company-info a:hover {
  background: linear-gradient(top, #D58000, #eaa41c);
  color: #fff; }

input[type=text], input[type=email], textarea {
  font: 1.5em Verdana,Helvetica,Arial,sans-serif;
  background: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

input[type=text], input[type=email] {
  height: 15px;
  width: 280px;
  margin: 0;
  padding: 7px 0 0 4px; }

.single textarea {
  width: 400px; }

input[type=submit] {
  width: 140px;
  height: 30px;
  border: 2px outset buttonface;
  background: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: bold 1.1em Verdana,Helvetica,Arial,sans-serif;
  text-shadow: 0 -1px 0 #999;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 1px 1px 3px #666;
  -moz-box-shadow: 1px 1px 3px #666;
  box-shadow: 1px 1px 3px #666;
  margin: 10px 0 0; }

input[type=text]:hover, textarea:hover, input:focus, textarea:focus {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 2px #061b20;
  -moz-box-shadow: 0 0 5px #061b20;
  box-shadow: 0 0 2px #061b20; }

input[type=submit]:hover {
  color: #fff;
  background: linear-gradient(top, #D58000, #eaa41c); }

.single label {
  font-family: 'UniversNextPro-Light', Helvetica, Arial;
  font-size: 1.2em; }

.mainContent p.contact-form-input {
  margin: 0;
  padding: 0; }

.mainContent p.contact-form-label {
  margin: 5px 0 0;
  padding: 0; }

footer {
  color: #FFF;
  clear: both;
  padding: 10px 0; }

.home footer {
  position: fixed;
  bottom: 0; }

.admin {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.7);
  width: 110px;
  padding: 5px; }

.admin p {
  margin: 0 0 5px;
  padding: 0; }

#response h2 {
  font-size: 1.3em;
  font-weight: 700;
  color: #fff;
  float: none;
  position: relative;
  top: 350px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: linear-gradient(top, #D58000, #eaa41c);
  -webkit-box-shadow: 0 0 2px #061b20;
  -moz-box-shadow: 0 0 5px #061b20;
  box-shadow: 0 0 2px #061b20;
  margin: -30px 10px 0 150px;
  padding: 4px 4px 4px 23px; }

#social {
  display: none; }

.attachment-blog-post-thumb {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  opacity: .9;
  margin-top: 5px; }

.page-nav {
  margin-bottom: 1.5em; }

.pages-nav {
  padding: 10px 0; }

.page-numbers {
  color: #111;
  font-weight: 700;
  font-size: 1.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 10px; }

.core a.page-numbers {
  color: #111; }

.page-numbers.current {
  color: #fff;
  background: linear-gradient(top, #D58000, #eaa41c);
  text-shadow: 0 -1px 0 #999; }

.pages-nav a:hover {
  background: linear-gradient(top, #D58000, #eaa41c); }

.core .page-nav a {
  background: rgba(255, 255, 255, 0.7);
  padding: 1px; }

.core a.more-link {
  color: #D58000;
  font-style: italic; }

.blog .widgets {
  margin-top: 460px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #fff;
  width: 280px;
  padding: 10px; }

.blogPost {
  color: #fff;
  display: none; }

.widgets h3 {
  color: #FFF;
  font-size: 1.4em;
  margin: 0;
  padding: 0; }

.widgets .blogPost h2 {
  text-shadow: 0 -1px 1px #999; }

.widgets ul {
  margin: 0 0 10px; }

page-id-23
.blogPost p {
  font-size: 1.1em;
  margin: 5px 0; }

.blogPost p.latest-blog-post {
  text-align: right;
  border-bottom: 1px solid #fff;
  margin: 0 0 5px; }

.blogPost h3 {
  color: #FFF;
  font-size: 1.3em;
  text-shadow: 0 -1px 1px #999;
  margin: 0;
  padding: 0; }

.widgets a {
  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  padding: 1px 5px; }

.widgets a:hover {
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.7);
  color: #D58000; }

.widgets .blogPost a {
  padding: 0; }

.widgets .blogPost a:hover {
  -webkit-box-shadow: 0 0 1px 1px #D58000;
  box-shadow: 0 0 1px 1px #D58000; }

h3#comments, li.comment, #respond h3 {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px; }

li.comment {
  font-size: 1.1em; }

#respond h3 {
  margin-top: 1em;
  border-radius: 5px;
  width: 264px;
  -webkit-box-shadow: inset 0 0 10px #999;
  -moz-box-shadow: inset 0 0 10px #999;
  box-shadow: inset 0 0 10px #999;
  text-shadow: 0 -1px 1px #999; }

div#respond {
  overflow: hidden;
  margin: 30px 0; }

.addthis_toolbox {
  margin-top: 25px; }

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: -1px;
  padding: 0; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix {
  zoom: 1; }

#about-us {
  margin-top: 10px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 10px; }

.not-vs-are {
  width: 100%;
  font-size: 1.4em;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  margin: 40px auto; }

.not-vs-are th {
  font-weight: 700;
  height: 50px;
  font-size: 1.3em;
  padding-left: 10px; }

.not-vs-are th span {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 3px; }

.not-vs-are td {
  height: 25px;
  width: 50%;
  padding: 0 0 0 10px; }

.not-vs-are td:first-child, .not-vs-are th:first-child {
  text-align: right;
  padding-right: 20px; }

.not-vs-are tr:last-child td {
  padding-bottom: 10px; }

.not-vs-are td span {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  font-weight: 700;
  margin: 10px 0;
  padding: 0; }

.aboutus h3 span {
  padding: 0 2px; }

.aboutus h3 span, .aboutus ol li span, .aboutus em {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff; }

.aboutus ol {
  margin-bottom: 70px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px; }

.aboutus ol li {
  line-height: 1.8;
  margin-bottom: 5px; }

.aboutus ol li h4 {
  font-size: 1.4em; }

.aboutus ol li:first-child h4 {
  margin-top: 5px; }

.aboutus ol li span {
  padding: 0 5px; }

.aboutus .mainContent #mies span {
  font-weight: 700;
  font-style: italic;
  padding: 0; }

.aboutus #mies {
  margin-bottom: 50px;
  text-align: right;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 10px; }

h2.coming-soon {
  font-size: 5em;
  color: #FFF; }

.wpcf7 form .wpcf7-response-output {
  background: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  position: relative;
  top: -62px;
  left: 140px;
  margin: 1rem 0 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, .js body, .archive .widget, .blog .widget, .single .widget {
  display: block; }

audio:not([controls]), [hidden], .home .widgets, .projects .widgets, .parent-pageid-13 .widgets, .widget, .archive .blogPost, .blog .blogPost, .single .blogPost, .page div.sharing, .ir br, .home h1.company-name {
  display: none; }

::-moz-selection, ::selection {
  background: #D58000;
  color: #fff;
  text-shadow: none; }

a, a:visited, .core .navigation a, .core .meta a, .core a.page-numbers:hover, #commentform p, #commentform a {
  color: #fff; }

a:hover, .admin a {
  color: #D58000; }

figure, .blogPost p#date, .aboutus .mainContent ol li p {
  margin: 0; }

h2, .aboutus h3 {
  font-size: 1.7em; }

.single input[type="submit"], .widgets ul li a {
  font-size: 1.2em; }

.clearfix:after, .clear {
  clear: both; }

.error404 h2, .error404 h3, .page-id-23 .wpcf7 {
  color: #FFF; }

@media only screen and (min-width: 980px) {
  #company-info {
    float: none;
    margin-left: 300px; } }

@media only screen and (max-width: 800px) {
  .mainContent, #projectsContent, .blogContent, .singleContent, .contact .mainContent, #archiveContent {
    float: left;
    width: 100%;
    margin: 20px 20px 0 0; }
  .widgets {
    margin-top: 410px; }
  #categories-menu {
    top: 274px;
    left: 316px; } }

@media only screen and (min-width: 650px) and (max-width: 768px) {
  #company-info {
    float: none;
    margin-left: 300px; } }

@media only screen and (max-width: 600px) {
  .mainContent, #projectsContent, .blogContent, .singleContent, .contact .mainContent {
    margin-right: 0; }
  .home .main-menu {
    left: 0;
    top: 105px; }
  input[type=text], textarea {
    width: 267px; }
  #response h2 {
    margin: 12px 10px 0 0; } }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: "(" attr(href) ")"; }
  abbr[title]:after {
    content: "(" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: .5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

@media only screen and (max-width: 600px) {
  .wpcf7 form .wpcf7-response-output {
    top: -20px;
    left: -10px; } }

/*# sourceMappingURL=style.css.map */