
caudio,
canvas,
video {
  display: inline;
  zoom: 1;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

body {
  font-size: 62.5%;
  line-height: 1.231;
  color: #333;
  // font-family:Verdana,Helvetica,Arial,sans-serif;
  font-family: "UniversNextPro-Light", Helvetica, Arial;
  background: #333 no-repeat fixed center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0;
}

body {
  height: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: "UniversNextPro-Light", Helvetica, Arial;
  color: #222;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: none;
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 40px;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

form {
  float: left;
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  margin-left: 1px;
  padding: 0;
}

legend {
  border: 0;
  margin-left: -7px;
  padding: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
  margin: 0;
}

button,
input {
  line-height: normal;
  overflow: visible;
}

table button,
table input {
  overflow: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  width: 650px;
  @media only screen and (max-width: 797px) {
    width: 100%;
  }
  height: 200px;
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 5px #999;
  -moz-box-shadow: inset 0 0 5px #999;
  box-shadow: inset 0 0 5px #999;
  padding: 5px 10px;
}

input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

input[type="text"],
input[type="email"],
textarea {
  // font: 1.5em Verdana, Helvetica, Arial, sans-serif;
  background: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

input[type="text"],
input[type="email"] {
  width: 280px;
  margin: 0 0 10px;
  padding: 5px 0 0 8px;
  height: 20px;
  @media only screen and (max-width: 797px) {
    height: 25px;
  }
}

.single textarea {
  width: 400px;
}

input[type="submit"] {
  width: 140px;
  height: 30px;
  border: 2px outset buttonface;
  background: rgba(255, 255, 255, 0.9);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  // font: bold 1.1em Verdana, Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #999;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 1px 1px 3px #666;
  -moz-box-shadow: 1px 1px 3px #666;
  box-shadow: 1px 1px 3px #666;
  margin: 10px 0 0;
}

input[type="text"]:hover,
textarea:hover,
input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 2px #061b20;
  -moz-box-shadow: 0 0 5px #061b20;
  box-shadow: 0 0 2px #061b20;
}

input[type="submit"]:hover {
  color: #fff;
  background: linear-gradient(top, #d58000, #eaa41c);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0000);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  margin: -1px;
  padding: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix {
  zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
.js body {
  display: block;
}

audio:not([controls]),
[hidden],
.home .widgets,
.projects .widgets,
.parent-pageid-13 .widgets,
.widget,
.archive .blogPost,
.blog .blogPost,
.single .blogPost,
.page div.sharing,
.ir br {
  display: none;
}


.core section img {
  // float: right;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
}

.core section img:hover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-box-shadow: 0 0 5px #fff;
  -moz-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
}


@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: "(" attr(href) ")";
  }

  abbr[title]:after {
    content: "(" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
